@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@font-face {
    font-family: Montserrat_Black;
    src: url('../fonts/Montserrat-Black.ttf');
}
@font-face {
    font-family: Montserrat_regular;
    src: url('../fonts/Montserrat-Regular.ttf');
}

nav {
    background-color: #24252A;
    padding: 10px 140px;
    margin-bottom: 10px;
    margin-top: 0;
    font-size: large;
    text-align: start;
    font-family: 'Raleway', sans-serif;
}

nav a {
    top: 0;
    width: 100%;
    padding: 15px 1px;
    color: white;
    text-decoration: none;
    margin-left: 20px;
    margin-right: 20px;
}

nav button {
    background-color: #F81D44;
    border: none;
    border-radius: 50px;
    padding: 10px;
    transition: transform 0.3s ease;
    cursor: pointer;
    color: white;
}

button:hover{
    transform: scale(1.2);
}

#titulo {
    background-color: #9BBEC8;
    color: #164863;
    text-align: center;
    margin-top: 30px;
    font-size: 70px;
    font-family: Montserrat_Black;
}

#caja {
    width: 50%;
    margin-left: 25%;
    border: 2px solid black;
    border-radius: 7px;
    background-color: #DDF2FD;
    font-family: Raleway;
    margin-bottom: 50px;
}

#cont_maps {
    display: block;
}

#map1  {
    width: 600px;
    border: 2px solid black;
    border-radius: 7px;
    background-color: #DDF2FD;
    font-family: Raleway;
    margin-bottom: 50px;
    padding: 2px;
    height: 450px;


}

#map2 {
    width: 600px;
    border: 2px solid black;
    border-radius: 7px;
    background-color: #DDF2FD;
    font-family: Raleway;
    margin-bottom: 50px;
    padding: 2px;
    height: 450px;

}

#map3 {
    width: 600px;
    border: 2px solid black;
    border-radius: 7px;
    background-color: #DDF2FD;
    font-family: Raleway;
    margin-bottom: 50px;
    padding: 2px;
    height: 450px;

}

#mercedes {
    margin-left: 10px;
    font-family: Montserrat_Black;
    font-weight: 900;
    font-size: 25px;
    color: #164863;
}

#safa {
    margin-left: 10px;
    font-family: Montserrat_Black;
    font-weight: 900;
    font-size: 25px;
    color: #164863;
}

#blas {
    margin-left: 10px;
    font-family: Montserrat_Black;
    font-weight: 900;
    font-size: 25px;
    color: #164863;
}

.caja_mapa{
    display: inline-block;
    margin-left: 72px;
}

#caja_mapa3{
    display: inline-block;
    margin-left: 410px;
    text-align: center;
}
    
    ul, li {
    padding: 0;
    margin: 0;
    list-style: none inside;
    }

    ul.slider {
    position: relative;
    }

    ul.slider li {
    opacity: 0;
    transition: opacity .5s;
    position: absolute;
    left: 0px;
    top: 0px;
    margin: 50px;
    padding: 50px;
    border: 2px solid red;
    background: #fff;
    }

    ul.slider li:first-child {
        opacity: 1;
    }

    ul.slider li:target {
        opacity: 1;
    }

    #ul {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 25px;
        margin-left: 5%;
        color: #164863;
        margin-bottom: 0px;
    }

    #ul1 {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 20px;
        margin-left: 5%;
        color: #164863;
        margin-bottom: 0px;
    }

    #ul11 {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 19px;
        margin-left: 5%;
        color: #164863;
        margin-bottom: 0px;
    }

    #li {
        font-size: 20px;
        margin-left: 15%;
        font-weight: 900;
        margin-bottom: 5px;
        margin-top: 0;
        color: #427D9D;
    }

    #li1 {
        font-size: 20px;
        margin-left: 25%;
        font-weight: 900;
        margin-top: 0;
        margin-bottom: 50px;
    }

    

    /* 
       Si te fijas, hasta aqu� el CSS es igual que la primera versi�n.
       A partir de aqu�, el c�digo CSS se complica para conseguir los 
       efectos que puedes observar.
    */


    body, html {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: #9BBEC8;
    overflow: hidden;
    }

    .scroll{
        overflow-y: scroll;
        height: 91.5%;
    }