#1 {
    height: 400px;
    width: 400px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }

#2 {
    height: 400px;
    width: 400px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
 }

#3 {
    height: 400px;
    width: 400px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
 }

#4 {
    height: 400px;
    width: 400px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
 }
